---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=668d93ffa98045cabe5170944231006&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/12/2023 16:36:41
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ab8f0b92f7f740dcde0ff1c44da806a4
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1686587801,"localtime":"2023-06-12
        10:36"},"current":{"last_updated":"2023-06-12 10:30","temp_f":62.6,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":72,"feelslike_f":62.6,"vis_miles":9.0,"uv":4.0},"forecast":{"forecastday":[{"date":"2023-06-12","day":{"maxtemp_f":71.1,"mintemp_f":51.8,"totalsnow_cm":0.0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png"}},"astro":{"sunrise":"05:32
        AM","sunset":"08:28 PM"},"hour":[{"time":"2023-06-12 00:00","temp_f":54.1,"condition":{"text":"Moderate
        rain at times","icon":"//cdn.weatherapi.com/weather/64x64/night/299.png"}},{"time":"2023-06-12
        01:00","temp_f":53.8,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png"}},{"time":"2023-06-12
        02:00","temp_f":53.4,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png"}},{"time":"2023-06-12
        03:00","temp_f":52.9,"condition":{"text":"P[...]
