---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=668d93ffa98045cabe5170944231006&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 06/11/2023 00:40:00
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 525ac64683cbcbd7dfcdd8b33ba13cfe
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1686444000,"localtime":"2023-06-10
        18:40"},"current":{"last_updated":"2023-06-10 18:30","temp_f":64.2,"is_day":1,"condition":{"text":"Patchy
        light rain with thunder","icon":"//cdn.weatherapi.com/weather/64x64/day/386.png"},"wind_mph":9.4,"precip_in":0.0,"humidity":55,"feelslike_f":64.2,"vis_miles":9.0,"uv":6.0},"forecast":{"forecastday":[{"date":"2023-06-10","day":{"totalsnow_cm":0.0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png"},"uv":4.0},"astro":{"sunrise":"05:32
        AM","sunset":"08:27 PM"},"hour":[{"time":"2023-06-10 00:00","temp_f":57.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"},"humidity":71,"feelslike_f":57.4,"vis_miles":6.0,"uv":1.0},{"time":"2023-06-10
        01:00","temp_f":57.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"},"humidity":69,"feelslike_f":58.5,"vis_miles":6.0,"uv":1.0},{"time":"2023-06-10
        02:00","temp_f":56.3,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/[...]
