---
http_interactions:
- request:
    method: get
    uri: https://www.boredapi.com/api/activity?type=recreational
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80-l+aKL0iNmHV6ySAsyBXcKZSrwXw"
    body:
      encoding: UTF-8
      string: '{"activity":"Start a collection","type":"recreational","participants":1,"price":0,"link":"","key":"1718657","accessibility":0.5}'
  recorded_at: Tue, 13 Jun 2023 15:24:36 GMT
recorded_with: VCR 6.1.0
